{% extends "registration/layout.html" %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}
	
	
	
	<h1>{{ product.name }}</h1>
	<p>Price: ${{ product.price }}</p>
	<img src="{{ product.picture.url }}" alt="{{ product.name }}"style="width:400px">
	
	{% if user.account %}
		<p>
			<form action="/addcart/" method="post">
				{% csrf_token %}
				<input type="hidden" name="product" value="{{ product.id }}">
				<input type="number" name="amount" min="1" value="1">
				<button type="submit">Add to Cart</button>
			</form>
		Current balence: ${{ user.account.money }}
		</p>
	{% else %}
		<a href="{% url 'create' %}">Make an Account</a>
	{% endif %}

	<h2>Reveiws</h2>
	<ul>
		{% if reviews %}
		{% for review in reviews %}
		<li>
			<p>{{ review.score }}</p>
			<p>{{ review.text }}</p>
			<p>{{ review.first }}</p>
			<p></p>
		</li>
		{% endfor %}
		{% else %}
		<li>
			<p>No reviews</p>
		</li>
		{% endif %}
	</ul>

	<a href="/">Home</a>
{% endblock %}